.home-container {
    display: flex;
    justify-content: center;
    width: 100%;
}
.trm-wrapper {
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    box-shadow: 2   px 2px 5px 3px #c2c2c2;
    border-radius: 10px;
    padding: 20px;
}