.container {
    display: flex;
    justify-content: center;
    position: relative;
}

.modal {
    width: 400px;
    border-radius: 7px;
    padding: 10px;
}

.name {
    text-transform: capitalize;
    font-size: 22;
    font-weight: bold;
    padding: 10px;
    &.separator {
        border-bottom: 1px solid #e8e8e8;
    }
}
.card {
    background-color: #f9f9f9;
    border: 1px solid #e8e8e8;
    padding: 10px;
    border-radius: 7px;

    &.balance-card {
        width: 250px;
    }
}
.balance-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.b-title {
    text-align: center;
}
.close-modal {
    width: 16px;
    cursor: pointer;
}
.items-wrapper{
    margin-top: 10px;
    &:hover {
        transform: scale(1.01);
    }
}

.item-group {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
}

label {
    font-weight: bold;
}

.balance {
    font-size: 16px;
}
.balance-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.plus-wrapper {
    display: flex;
    align-items: center;
}

.plus {
    width: 18px;
    cursor: pointer;
}

.popup-container {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba($color: #fff, $alpha: 0.8);
    z-index: 1;
    top: 0;
}
.popup-flex {
    display: flex;;
    justify-content: center;
    margin-top: 20px;
}

.error-text {
    color: #d93025;
    font-size: 14px;
    margin-top: 5px;
}

.balance-input {
    margin-top: 5px;
    margin-bottom: 5px;
}

.balance-alert {
    margin-bottom: 5px;
}