.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-wrapper {
    max-width: 310px;
    width: 100%;
    margin-top: 50px;
}

.title {
    font-size: 28px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.login-items {
    background: #f9f9f9;
    margin-top: 20px;
    border-radius: 6px;
    border: 1px solid #e8e8e8;
    padding: 20px;
}

label {
    color: #000;
    font-weight: 400;
}

.signup-text {
    text-align: center;
}
.signup-link {
    color: #1f6feb;
    cursor: pointer;
    text-decoration: none;
}

.input-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.alert {
    width: 100%;
}

.wrapper-logo {
    text-align: center;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #e8e8e8;
    border-radius: 7px;
}

.logo-link{
    text-decoration: none;
    color: #000;
}

.error-text {
    color: #d93025;
    font-size: 14px;
    margin-top: 5px;
}